$important: #ff0000;
$main-color: #000000;
$soft-color: #222222;

h1,
h2 {
	margin: 0;
}

h3 {
	color: $soft-color;
	margin: 5px 0 10px;
}

.status-bar {
	position: absolute;
	right: 10px;
	top: 10px;

	.stats {
		display: inline-block;
	}

	.connection-state {
		border: 2px solid $main-color;
		display: inline-block;
		padding: 5px;

		.label-connected {
			visibility: hidden;
		}

		&.connected .label-connected {
			visibility: visible;
		}
	}
}

.boards {
	align-content: stretch;
	display: flex;
	flex-wrap: wrap;

	.board {
		flex: 1;
		margin: 10px 0 0;
		min-width: 300px;
		padding: 0;

		.sensors {
			border-collapse: collapse;
			width: 100%;

			.sensor {
				.code {
					width: 50px;
				}

				.name {
					width: 140px;
				}

				.value {
					text-align: right;

					button {
						border: 1px;
						padding: 1px;
						width: 33px;
					}
				}
			}
		}
	}
}



.buttons,
.axes {
	padding: 1em;
}

.button {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAAXNSR0IArs4c6QAAAAxJREFUCNdjYPjPAAACAgEAqiqeJwAAAABJRU5ErkJggg==);
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: 0% 0%;
	border: 1px solid $main-color;
	border-radius: 20px;
	padding: 1em;
}

.pressed {
	border: 1px solid $important;
}
