
#status-bar {
	position:absolute;
	top: 10px;
	right: 10px;
}
#status-bar .stats {
	display: inline-block;
}
#status-bar .connection-state {
	display: inline-block;
	border: 2px solid black;
	padding:5px;
}
#status-bar .connection-state .label-connected {
	visibility:hidden;
}

#status-bar .connection-state.connected .label-connected {
	visibility:visible;
}

.board {
	margin: 10px 0 0 0;
}
h1 {
	margin: 0;
}

h2 {
	margin: 0;
}

h3 {
	margin: 5px 0 10px 0;
	color: #222;
}

#boards {
	display: flex;
	flex-wrap: wrap;
	align-content: stretch;
}

#boards .board {
	padding: 0;
	min-width: 300px;
	flex: 1;
}

#boards .board .sensors {
/*	table-layout: fixed;*/
	width: 100%;
	border-collapse: collapse;
}

#boards .board .sensors .sensor .code {
	width: 50px;
}
#boards .board .sensors .sensor .name {
	width: 140px;
}
#boards .board .sensors .sensor .value {
	text-align: right;
}

#boards .board .sensors .sensor .value button {
	width: 33px;
	padding: 1px;
	border: 1px;
}


.buttons, .axes {
  padding: 1em;
}

.button {
  padding: 1em;
  border-radius: 20px;
  border: 1px solid black;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAAXNSR0IArs4c6QAAAAxJREFUCNdjYPjPAAACAgEAqiqeJwAAAABJRU5ErkJggg==);
  background-size: 0% 0%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.pressed {
  border: 1px solid red;
}