$important: #ff0000;
$main-color: #000000;
$soft-color: #222222;

$page-animation-duration: .25s;
$menu-color-overlay: #000000;
$menu-color-border: #e0e0e0;
$menu-color-background: #ffffff;

@import '../.sass-cache/angular-gridster/src/angular-gridster';
@import 'shared/header';
@import 'shared/menu';
@import 'home/home';

body {
	margin: 10px;
}

h1,
h2 {
	margin: 0;
}

h3 {
	color: $soft-color;
	margin: 5px 0 10px;
}


.gridster {
	.device {
		background: grey;
	}
}



.buttons,
.axes {
	padding: 1em;
}

.button {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAAXNSR0IArs4c6QAAAAxJREFUCNdjYPjPAAACAgEAqiqeJwAAAABJRU5ErkJggg==);
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: 0% 0%;
	border: 1px solid $main-color;
	border-radius: 20px;
	padding: 1em;
}

.pressed {
	border: 1px solid $important;
}


.slide-animate.ng-enter,
.slide-animate.ng-leave {
	transition: all cubic-bezier(.250, .460, .450, .940) 2s;
}


.slide-animate.ng-enter {
	left: 0;

	&.ng-enter-active {
		left: 1300px;
		position: absolute;
	}
}

.slide-animate.ng-leave {
	right: 0;

	&.ng-leave-active {
		left: -1700px;
		position: absolute;
	}
}



